[submodule "external/libwebp"]
	path = external/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
